@import "scss/reset";
@import "scss/setting";
@import "scss/mixin";

html{
  font-size: 62.5%;
}

body{
  font-family: 'Noto Serif', cursive;	
}

h2{
  font-size: 6rem;
  font-family: 'Noto Serif', cursive;	
  display: flex;
  align-items: center;
  width: 475px;
  padding-bottom: 100px;
  &:after{
    content:'';
    margin-left: 20px;
    border-top: 5px solid #000;
    flex-grow: 1;
  }
  &.concept{
    
  }
  &.works{
    color: #fff;
    margin: 0 0 0 auto;
    &:after{
      content:'';
      margin-left: 20px;
      border-top: 5px solid #fff;
      flex-grow: 1;
    }
  }
  &.service{

  }
  &.contact{
    color: #fff;
    margin: 0 0 0 auto;
    &:after{
      content:'';
      margin-left: 20px;
      border-top: 5px solid #fff;
      flex-grow: 1;
    }
  }
}

section{
  padding: 100px 0;
  &:first-child{
    padding: 0;
  }
  &:nth-child(3){
    background: url(../images/works-bgi@2x.jpg);
    background-repeat:no-repeat ;
    background-size: 100%;

  }
  &:nth-child(5){
    background: url(../images/contact-bgi@2x.jpg);
    background-repeat:no-repeat ;
    background-size: 100%;
    height: 666px;

  }
}

header{
  position: fixed;
  width: 100%;
  z-index: 9999;
}


.mainHeader{
  max-width: 1000px;
  font-family: 'Noto Serif', cursive;	
  display: flex;
  justify-content: space-between;
  line-height: 96px;
  margin: 0 auto;
  color: #fff;
  &__logo{
    font-size: 2.6rem;
  }
  &__nav{
    .headerLists{
      display: flex;
      font-size: 1.6rem;
      width: 349px;
      justify-content: space-between;
    }
  }
}

.mainContent{
  &__top{
    .slick-slide:focus {
      outline: none;
    }
    .topSlider{
      .sliderWrap{
        position: relative;
        img{
          width: 100%;
          height: 100vh;
        }
        &__text{
          font-family: 'Noto Serif', cursive;	
          position: absolute;
          color: #fff;
          bottom:300px;
          left: 10vw;
          &--main{
            font-size: 7rem;
            letter-spacing: 7px;
          }
          
          &--sub{
            font-size: 4rem;
          }
        }
      }
    }
  }
  &__concept{
    max-width: 1000px;
    margin: 0 auto;
    h3{
      font-size: 5rem;
      text-align: center;
      padding-bottom: 75px;
    }
    .conceptWrap{
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__text{
        width: 440px;
        line-height: 30px;
      }
      &__img{
        background-image:url("../images/concept-image@2x.jpg") ;
        width: 440px;
        height: 240px;
      }
    }
  }
  &__service{
    max-width: 1000px;
    margin: 0 auto;
    
  }
  .serviceWrap{
    &__lists{
      width: 100%;
      display: flex;
      background-color: #000;
      &--list{
        width : calc(100% / 3) ;
        height: 320px;
        text-align: center;
        line-height: 320px;
        color: #fff;
        font-size: 4rem;
        cursor: pointer;
        transition: .5s;
        
        &:first-child{
          background: url("../images/service-img01@2x.jpg");
          background-repeat: no-repeat;
          background-size: 100%;
          &:hover{
            opacity: 0.5;
          }
        }
        &:nth-child(2){
          background: url("../images/service-img02@2x.jpg");
          background-repeat: no-repeat;
          background-size: 100%;
          &:hover{
            opacity: 0.5;
          }
        }
        &:last-child{
          background: url("../images/sevice-img03@2x.jpg");
          background-repeat: no-repeat;
          background-size: 100%;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  &__works{
    max-width: 1000px;
    margin: 0 auto;
    .worksWrap{
      &__lists{
        display: flex;
        justify-content: space-between;
      }
      &__list{
        width: 320px;
        &--text{
          padding: 25px;
          font-size: 1.6rem;
          background: #fff;
        }
      }
    }
  }
  &__contact{
    max-width: 1000px;
    margin: 0 auto;
    .contactText{
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
  }
  .btmText{
    font-size:9rem ;
    color:#F8F7F8;
    font-family: 'Noto Serif', cursive;	
    text-align:left;
    padding-top: 100px;
      &.concept{
        text-align: right;
      }
      &.works{
        text-align: left;
        color: #f8f7f824;
      }
      &.service{
        text-align: right;
        
      }
      &.contact{
        text-align: left;
        color: #f8f7f824;
      }
  }
  .mainBtn{
    a{
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 235px;
      color: #000;
      font-size: 1.6rem;
      background-color: #F7D43F;
      line-height: 60px;
      border-radius: 30px;
      margin-top: 50px;
    }
    
  }
}


.mainFooter{
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 79px;
}